
h2{
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-color: var(--color1);
    padding: 1rem;
}

.iconoExp{
    width:2rem;
    height: auto;
}

.imgHabilidad{
    height: 5rem;
    width: auto;
}
.habilidades{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.experiencia li, .estudios li,.contacto li{
    margin-bottom: 2rem;
}

.habilidades-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 1rem;
}

.contenedorAbout{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
}

.gridBiografia{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
}

.imagenPerfil{
    height: auto;
    width: 100%;
}

.biografia{
    text-align: justify;
    line-height: 2;
}