/*Estilos generales*/
h2{
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-color: var(--color1);
    padding: 1rem;
}

.experiencia li, .estudios li,.contacto li{
    margin-bottom: 2rem;
}
/*Biografia*/
.contenedorBiografia{
    display: flex;
    column-gap: 2rem;
}

.imagenPerfil{
    flex-shrink: 0;
    height: 100%;
    max-height: 100%;
}

.biografia{
    text-align:left;
    line-height: 1.5;
    white-space: pre-line;
}


/*Experiencia laboral*/
.experiencia-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 1rem;
}

.experiencia-item p {
    text-align: justify;
}
.iconoExp{
    width:2rem;
    height: auto;
}

/*Habilidades y contacto*/
.imgHabilidad{
    height: 5rem;
    width: auto;
}
.habilidades{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}

.habilidades-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 1rem;
}

.contenedorContactoHabilidades, .contenedorFormacion{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
}

.contacto li a {
    padding: 0.8rem;
}

.experiencia, .estudios{
    display: flex;
    flex-direction: column-reverse;
}

@media (max-width:768px){
    .contenedorBiografia,.contenedorContactoHabilidades, .contenedorFormacion{
        display: block;
    }
    .biografia{
        margin-top: 1rem;
    }    
}